---
layout: post
title: Building a Résumé With Templator
categories:
- Life
tags:
- career
- code
- latex
- resume
status: publish
type: post
published: true
meta:
  _edit_last: '1'
  _syntaxhighlighter_encoded: '1'
  dsq_thread_id: '605447502'
author:
  login: air0day
  email: blog@air0day.com
  display_name: Rod Hilton
  first_name: Rod
  last_name: Hilton
---
<p>I care, probably more than I should, about my résumé.  I sort of think of it like a real-life character sheet, so I like to keep it current at all times.  But my résumé has always been a source of irritation for me as well, as I have a number of things I would like to do with it that I've been unable to do.</p>
<ol>
<li>I want to have it version-controlled, so it should be plain text.</li>
<li>I want to have a plain HTML version of it that I can post on my blog, <a href="http://www.nomachetejuggling.com/resume/">here</a></li>
<li>I want to have a $$\LaTeX$$ version of it, because I like the way it looks, and I'd like to send that version to potential employers.</li>
<li>I would like to have a "master" version of the résumé with all of my data, but be able to easily build customized versions of it.  For example, I want to include the sections on what courses I took in school if I'm sending my résumé to an academic institution, but I want to leave that off if I'm applying for an industry job.</li>
</ol>
<p>I started building some tools that would let me accomplish this, including a specialized résumé data format that I called "rml" but I quickly realized that not everyone wants to store the same data on their résumé, so I kept generalizing and generalizing the tool until I had something usable: <a href="https://github.com/rodhilton/templator">Templator</a>.</p>
<p>Templator is a general tool that allows someone to store data in a text file and run that data through various template files to get generated output.  It utilizes <a href="http://www.yaml.org/">YAML</a> and <a href="http://www.ruby-doc.org/stdlib/libdoc/erb/rdoc/">ERB</a>, so Ruby programmers should already be comfortable with it.</p>
<p>In this article I'm going to explain how to use Templator to store a version-controllable, customizable résumé.</p>
<p><!--more--></p>
<h1>Getting Started With Templator</h1>
<p>The way Templator works is simple (once you've cloned the git repo):</p>
<p>[output]<br />
./templator --data-file data_file template_file<br />
[/output]</p>
<p>The <code>data_file</code> file is where we will store our master résumé data, and the <code>template_file</code> is the file we will use to store the template, which in this example will be generating HTML.</p>
<p>Let's start with a simple data file, which I'll save as <code>example1.yaml</code>.</p>
<p>[yaml]<br />
name: Bob Smith<br />
[/yaml]</p>
<p>And here is our first template, which I will save as <code>template1.html.erb</code></p>
<p>[html]<br />
&lt;html&gt;<br />
&lt;body&gt;<br />
  &lt;h1&gt;Resume for &lt;%= name %&gt;&lt;/h1&gt;</p>
<p>&lt;/body&gt;<br />
&lt;/html&gt;<br />
[/html]</p>
<p>Now, if I execute:</p>
<p>[output]<br />
./templator -d example1.yaml template1.html.erb<br />
[/output]</p>
<p>I get the output to <code>stdout</code>, so I'm going to dump that into a file.</p>
<p>[output]<br />
./templator -d example1.yaml template1.html.erb > template1.html<br />
[/output]</p>
<p>Now I get a new HTML file, <code>template1.html</code>, which looks like this:</p>
<p>[html]<br />
&lt;html&gt;<br />
&lt;body&gt;<br />
  &lt;h1&gt;Resume for Bob Smith&lt;/h1&gt;</p>
<p>&lt;/body&gt;<br />
&lt;/html&gt;<br />
[/html]</p>
<p>As you can see, the ERB escape sequences have access to everything defined in the YAML file, in this case <code>name</code>.  If <code>name</code> had not been defined in the yaml file, the then <code>name</code> in the template would have simply been <code>nil</code>.</p>
<h1>A More Complicated Example: Lists</h1>
<p>Alright so let's add our skills to this résumé.  We have many skills, so this will be a list.  Here's our new YAML file, <code>example2.yaml</code></p>
<p>[yaml]<br />
name: Bob Smith</p>
<p>skills:<br />
  - C++<br />
  - Typing<br />
  - Ping-pong<br />
[/yaml]</p>
<p>Here we've defined a simple list under "skills."  I don't plan on covering the basics of YAML here, but obviously the whitespace matters.  For more information on YAML, check <a href="http://www.yaml.org/YAML_for_ruby.html">this tutorial</a> or <a href="http://www.yaml.org/spec/1.2/spec.html">the spec</a>.</p>
<p>Now let's make another template, <code>template2.html.erb</code>:</p>
<p>[html]<br />
&lt;html&gt;<br />
&lt;body&gt;<br />
  &lt;h1&gt;Resume for &lt;%= name %&gt;&lt;/h1&gt;</p>
<p>  &lt;h1&gt;Skills&lt;/h1&gt;<br />
  &lt;ul&gt;<br />
    &lt;% skills.each do |skill| %&gt;<br />
      &lt;li&gt;&lt;%= skill %&gt;&lt;/li&gt;<br />
    &lt;% end %&gt;<br />
  &lt;/ul&gt;<br />
&lt;/body&gt;<br />
&lt;/html&gt;<br />
[/html]</p>
<p>When we run this through templator:</p>
<p>[output]<br />
./templator -d example2.yaml template2.html.erb<br />
[/output]</p>
<p>We get this output:</p>
<p>[html]<br />
&lt;html&gt;<br />
&lt;body&gt;<br />
  &lt;h1&gt;Resume for Bob Smith&lt;/h1&gt;</p>
<p>  &lt;h1&gt;Skills&lt;/h1&gt;<br />
  &lt;ul&gt;</p>
<p>      &lt;li&gt;C++&lt;/li&gt;</p>
<p>      &lt;li&gt;Typing&lt;/li&gt;</p>
<p>      &lt;li&gt;Ping-pong&lt;/li&gt;</p>
<p>  &lt;/ul&gt;<br />
&lt;/body&gt;<br />
&lt;/html&gt;<br />
[/html]</p>
<p>Notice the somewhat surprising additional spaces.  Ruby programmers will be familiar with this, but it's the result of having linebreaks before and after the ERB lines, like <code><% skills.each do |skill| %></code>.  Since we're outputting HTML, the additional linebreaks don't matter, but if you want to output plain text you'd need to ensure that ERB escapes aren't surrounded by linebreaks and other spacing.  This makes your template files less readable, so it's a tradeoff.</p>
<h1>Nested Data</h1>
<p>Now we'd like to add our work experience.  This data is significantly more hierarchical, but Templator has us covered.  Here is example3.yaml:</p>
<p>[yaml]<br />
name: Bob Smith</p>
<p>skills:<br />
  - C++<br />
  - Typing<br />
  - Ping-pong</p>
<p>experience:<br />
  - company: XYZ Widgets, Inc<br />
    title: Senior Widget Analyst<br />
    accomplishments:<br />
      - Made over 300 widgets<br />
      - Increased widget production by 55%<br />
  - company: GlobalInfraComm<br />
    title: Intern<br />
    accomplishments:<br />
      - Made great coffee<br />
      - Seriously, the coffee was awesome.<br />
[/yaml]</p>
<p>This nested format will mean that there is going to be a <code>experience</code> variable available to the template file.  <code>experience</code> will be a list of objects, and each of those objects will have properties named <code>company</code>, <code>title</code>, and <code>accomplishments</code>.  <code>accomplishments</code> will also be a list, but of strings.</p>
<p>Here is example3.html.erb:</p>
<p>[html]<br />
&lt;html&gt;<br />
&lt;body&gt;<br />
  &lt;h1&gt;Resume for &lt;%= name %&gt;&lt;/h1&gt;</p>
<p>  &lt;h1&gt;Skills&lt;/h1&gt;<br />
  &lt;ul&gt;<br />
    &lt;% skills.each do |skill| %&gt;<br />
      &lt;li&gt;&lt;%= skill %&gt;&lt;/li&gt;<br />
    &lt;% end %&gt;<br />
  &lt;/ul&gt;</p>
<p>  &lt;h1&gt;Experience&lt;/h1&gt;<br />
  &lt;% experience.each do |job| %&gt;<br />
    &lt;p&gt;<br />
      &lt;%= job.company %&gt; (&lt;%= job.title %&gt;)<br />
      &lt;ul&gt;<br />
        &lt;% job.accomplishments.each do |accomplishment| %&gt;<br />
          &lt;li&gt;&lt;%= accomplishment %&gt;&lt;/li&gt;<br />
        &lt;% end %&gt;<br />
      &lt;/ul&gt;<br />
    &lt;/p&gt;<br />
  &lt;% end %&gt;<br />
&lt;/body&gt;<br />
&lt;/html&gt;<br />
[/html]</p>
<p>Each aspect of the hierarchy can be referred to by a simple object-style syntax.  Anything not defined in the yaml file returns <code>nil</code>, and <code>nil.[anything]</code> also returns <code>nil</code>, so referencing things that aren't defined doesn't result in an error. For example, <code><%= experience.something.otherstuff.morethings %></code> simply returns <code>nil</code>.</p>
<p>Arrays can be referred to how one would expect.  For example, if I wanted to only print out my top accomplishment somewhere, I could do <code><%= experience[0].accomplishments[0] %></code>.</p>
<p>Running this through Templator yields (extra linebreaks removed):</p>
<p>[html]<br />
&lt;html&gt;<br />
&lt;body&gt;<br />
  &lt;h1&gt;Resume for Bob Smith&lt;/h1&gt;</p>
<p>  &lt;h1&gt;Skills&lt;/h1&gt;<br />
  &lt;ul&gt;<br />
      &lt;li&gt;C++&lt;/li&gt;<br />
      &lt;li&gt;Typing&lt;/li&gt;<br />
      &lt;li&gt;Ping-pong&lt;/li&gt;<br />
  &lt;/ul&gt;</p>
<p>  &lt;h1&gt;Experience&lt;/h1&gt;<br />
    &lt;p&gt;<br />
      XYZ Widgets, Inc (Senior Widget Analyst)<br />
      &lt;ul&gt;<br />
          &lt;li&gt;Made over 300 widgets&lt;/li&gt;<br />
          &lt;li&gt;Increased widget production by 55%&lt;/li&gt;<br />
      &lt;/ul&gt;<br />
    &lt;/p&gt;<br />
    &lt;p&gt;<br />
      GlobalInfraComm (Intern)<br />
      &lt;ul&gt;<br />
          &lt;li&gt;Made great coffee&lt;/li&gt;<br />
          &lt;li&gt;Seriously, the coffee was awesome.&lt;/li&gt;<br />
      &lt;/ul&gt;<br />
    &lt;/p&gt;<br />
&lt;/body&gt;<br />
&lt;/html&gt;<br />
[/html]</p>
<h1>Flags</h1>
<p>The real power in Templator comes from the ability to set flags at runtime.  Let's add an "Education" section to the résumé.  I want to list my GPA in the master résumé YAML file, but only have it show up when I build certain kinds of résumés.  I'd like it to be included whenever I build an academic résumé, but leave it off whenever I am building a regular résumé.</p>
<p>Even though we've only got one degree, we're going to make our degrees a list, in case we ever go back to school.</p>
<p>[yaml]<br />
name: Bob Smith</p>
<p>skills:<br />
  - C++<br />
  - Typing<br />
  - Ping-pong</p>
<p>experience:<br />
  - company: XYZ Widgets, Inc<br />
    title: Senior Widget Analyst<br />
    accomplishments:<br />
      - Made over 300 widgets<br />
      - Increased widget production by 55%<br />
  - company: GlobalInfraComm<br />
    title: Intern<br />
    accomplishments:<br />
      - Made great coffee<br />
      - Seriously, the coffee was awesome.</p>
<p>education:<br />
  - degree: B.A., Basket-weaving<br />
    school: University of Basketweaving<br />
    gpa: 3.4<br />
[/yaml]</p>
<p>And here's our new template:</p>
<p>[html]<br />
&lt;html&gt;<br />
&lt;body&gt;<br />
  &lt;h1&gt;Resume for &lt;%= name %&gt;&lt;/h1&gt;</p>
<p>  &lt;h1&gt;Skills&lt;/h1&gt;<br />
  &lt;ul&gt;<br />
    &lt;% skills.each do |skill| %&gt;<br />
      &lt;li&gt;&lt;%= skill %&gt;&lt;/li&gt;<br />
    &lt;% end %&gt;<br />
  &lt;/ul&gt;</p>
<p>  &lt;h1&gt;Experience&lt;/h1&gt;<br />
  &lt;% experience.each do |job| %&gt;<br />
    &lt;p&gt;<br />
      &lt;%= job.company %&gt; (&lt;%= job.title %&gt;)<br />
      &lt;ul&gt;<br />
        &lt;% job.accomplishments.each do |accomplishment| %&gt;<br />
          &lt;li&gt;&lt;%= accomplishment %&gt;&lt;/li&gt;<br />
        &lt;% end %&gt;<br />
      &lt;/ul&gt;<br />
    &lt;/p&gt;<br />
  &lt;% end %&gt;</p>
<p>  &lt;h1&gt;Education&lt;/h1&gt;<br />
  &lt;ul&gt;<br />
    &lt;% education.each do |e| %&gt;<br />
      &lt;li&gt;<br />
        &lt;%= e.degree %&gt; (&lt;%= e.school %&gt;)<br />
        &lt;% if flags[:academic] %&gt;<br />
          - GPA: &lt;%= e.gpa %&gt;<br />
        &lt;% end %&gt;<br />
      &lt;/li&gt;<br />
    &lt;% end %&gt;<br />
  &lt;/ul&gt;<br />
&lt;/body&gt;<br />
&lt;/html&gt;<br />
[/html]</p>
<p>Notice the <code>if</code> using <code>flags[:academic]</code> surrounding the printing of the GPA.</p>
<p>Now if we run Templator like normal:</p>
<p>[output]<br />
./templator -d example4.yaml template4.html.erb<br />
[/output]</p>
<p>We get:</p>
<p>[html]<br />
&lt;html&gt;<br />
&lt;body&gt;<br />
  &lt;h1&gt;Resume for Bob Smith&lt;/h1&gt;</p>
<p>  &lt;h1&gt;Skills&lt;/h1&gt;<br />
  &lt;ul&gt;<br />
      &lt;li&gt;C++&lt;/li&gt;<br />
      &lt;li&gt;Typing&lt;/li&gt;<br />
      &lt;li&gt;Ping-pong&lt;/li&gt;<br />
  &lt;/ul&gt;</p>
<p>  &lt;h1&gt;Experience&lt;/h1&gt;</p>
<p>    &lt;p&gt;<br />
      XYZ Widgets, Inc (Senior Widget Analyst)<br />
      &lt;ul&gt;<br />
          &lt;li&gt;Made over 300 widgets&lt;/li&gt;<br />
          &lt;li&gt;Increased widget production by 55%&lt;/li&gt;<br />
      &lt;/ul&gt;<br />
    &lt;/p&gt;</p>
<p>    &lt;p&gt;<br />
      GlobalInfraComm (Intern)<br />
      &lt;ul&gt;<br />
          &lt;li&gt;Made great coffee&lt;/li&gt;<br />
          &lt;li&gt;Seriously, the coffee was awesome.&lt;/li&gt;<br />
      &lt;/ul&gt;<br />
    &lt;/p&gt;</p>
<p>  &lt;h1&gt;Education&lt;/h1&gt;<br />
  &lt;ul&gt;<br />
      &lt;li&gt;<br />
        B.A., Basket-weaving (University of Basketweaving)<br />
      &lt;/li&gt;<br />
  &lt;/ul&gt;<br />
&lt;/body&gt;<br />
&lt;/html&gt;</p>
<p>[/html]</p>
<p>No GPA listed.  But if we run Templator with a flag, like so:</p>
<p>[output]<br />
./templator -d example4.yaml --flag academic template4.html.erb<br />
[/output]</p>
<p>We'll get:</p>
<p>[html]<br />
&lt;html&gt;<br />
&lt;body&gt;<br />
  &lt;h1&gt;Resume for Bob Smith&lt;/h1&gt;</p>
<p>  &lt;h1&gt;Skills&lt;/h1&gt;<br />
  &lt;ul&gt;<br />
      &lt;li&gt;C++&lt;/li&gt;<br />
      &lt;li&gt;Typing&lt;/li&gt;<br />
      &lt;li&gt;Ping-pong&lt;/li&gt;<br />
  &lt;/ul&gt;</p>
<p>  &lt;h1&gt;Experience&lt;/h1&gt;</p>
<p>    &lt;p&gt;<br />
      XYZ Widgets, Inc (Senior Widget Analyst)<br />
      &lt;ul&gt;<br />
          &lt;li&gt;Made over 300 widgets&lt;/li&gt;<br />
          &lt;li&gt;Increased widget production by 55%&lt;/li&gt;<br />
      &lt;/ul&gt;<br />
    &lt;/p&gt;</p>
<p>    &lt;p&gt;<br />
      GlobalInfraComm (Intern)<br />
      &lt;ul&gt;<br />
          &lt;li&gt;Made great coffee&lt;/li&gt;<br />
          &lt;li&gt;Seriously, the coffee was awesome.&lt;/li&gt;<br />
      &lt;/ul&gt;<br />
    &lt;/p&gt;</p>
<p>  &lt;h1&gt;Education&lt;/h1&gt;<br />
  &lt;ul&gt;<br />
      &lt;li&gt;<br />
        B.A., Basket-weaving (University of Basketweaving)<br />
          - GPA: 3.4<br />
      &lt;/li&gt;<br />
  &lt;/ul&gt;<br />
&lt;/body&gt;<br />
&lt;/html&gt;</p>
<p>[/html]</p>
<p>Notice that the GPA is now included.</p>
<h1>Putting It All Together</h1>
<p>It's very easy to use a build tool such as <a href="http://rake.rubyforge.org/">Rake</a> or <a href="http://ant.apache.org/">Ant</a> to create different build targets that utilize flags.  Flags are also supported in the yaml file itself, so you can use flags to hide data from the template files.  For example, if you wanted to only include a specific job if a flag was set, you can surround that job in the YAML file with an ERB-escaped <code>if</code> statement.</p>
<p>I have a <code>Rakefile</code> that uses an <code>expand_school</code> flag to include my coursework (an escape in the template) as well as my job as a T.A. (an escape in the YAML file).  I also use a flag called <code>public</code> that hides my phone number and e-mail address for résumés that get posted on my web site, but includes them for résumés that I intend to send out to individuals.</p>
<p>I also have two template files, an HTML one and a $$\LaTeX$$ one.  <code>Rake latex</code> will build the <code>latex_private</code> and <code>latex_public</code> artifacts, then execute <code>pdflatex</code> on those files to get a nice PDF.  <code>Rake upload_resume</code> will upload the HTML and PDF files to my web site as well, which is extremely convenient.</p>
<p>There's definitely a learning curve with doing this, which is why I've written this article.  But once I got everything up and running, I was very happy with the result.  I've got my résumé file checked into a private git repo, and I've even set up <a href="http://jenkins-ci.org/">Jenkins</a> to poll that repo and automatically build my public résumés and upload them to my web site.</p>
